.layout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.header-zone {
  padding: 20px;
}

.body-zone {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* .body-zone div {
  border: 1px solid gray;
} */

.menu {
  flex: 1;
  text-align: right;
  padding: 3%;
}

.content-view {
  flex: 7;
  padding: 1%;
}

.summary {
  flex: 1;
  padding: 1%;
}
