body {
  margin: 0px;
  height: 100%;
}

.layout {
  height: 100%;
  width: 100%;
}

.menu-closed {
  display: none;
}

.text-selection-disabled {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

.header-zone {
  padding: 20px;
  height: 10%;
  background-color: #1a1a1a;
}

.body-zone {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.content-view {
  background-color: #f1f1f1;
  margin-left: 10%;
  margin-right: 10%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e8e8e8;
}
